.u-mt {
  &__10 {
    margin-top: 10px;
  }
  &__20 {
    margin-top: 20px;
  }
  &__30 {
    margin-top: 30px;
  }
  &__40 {
    margin-top: 40px;
  }
  &__50 {
    margin-top: 50px;
  }
  &__60 {
    margin-top: 60px;
  }
  &__70 {
    margin-top: 70px;
  }
  &__80 {
    margin-top: 80px;
  }
  &__90 {
    margin-top: 90px;
  }
  &__100 {
    margin-top: 100px;
  }
}